.Sidebar {
	width: 200px;
	height: 100%;
	overflow: auto;
	background-color: #031b4d;
	font-size: 16px;
	padding: 20px 0 0;
}

.SidebarSimpleItem {
	display: block;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 16px;
	line-height: 1rem;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		color: #ffffff;
		background-color: #0a1b3d;
	}
}

.SidebarDropdownItem {
	width: 100%;
	border-bottom: 1px solid rgba(180, 188, 199, 0.32);

	.title {
		padding: 25px 20px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		text-transform: uppercase;
		color: #677694;
		font-weight: 600;
		font-size: 0.8rem;
		line-height: 0.8rem;
		letter-spacing: 0.06rem;
	}

	ul {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 0.4s linear;
	}

	&.open {
		ul {
			opacity: 1;
			max-height: 300px;
			overflow: auto;
			padding-bottom: 20px;
		}
	}
}
