// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-dark-gray: #4a4a4a;
$color-light-gray: #fbfbfb;

// $color-primary: #e72e77;
// $color-primary-light: #eb75a4;
// $color-primary-dark: #671535;
// $color-header-dark: #b4245d;

// $color-password-primary: #fdeaf1;
//
// $color-disabled-primary: #f396bb;
//
// $color-light-gray: #fbfbfb;
// $color-divider-gray: #d7d7d7;
// $color-middle-gray: #f2f2f2;
// $color-gray: #909090;
// $color-dark-gray: #4a4a4a;
//
// $color-vendor: #3498db;
// $color-disabled-vendor: #99cbed;
//
// $color-green: #009a09;
// $color-red: #e05060;
//
// $color-facebook: #3b5998;
// $color-twitter: #4099ff;
// $color-pinterest: #c92228;
//
// $color-white: #fff;
// $color-black: #000;
//
// $color-semi-transparent: rgba(0, 0, 0, 0.5);
// $color-transparent: transparent;
//
// $color-calendar-green: #1abc9c;
//
// $color-password-vendor: #eaf4fb;
//
// $header-margin: 40px;
//
// $color-bottom-bar: #1297b4;
