// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$dove-gray: #676767;
$tundora: #444444;
$blue-ribbon: #0069ff;
$seashell: #f1f1f1;
$gallery: #ececec;
$white: #ffffff;
$gulf-blue: #031b4d;
$lynch: #677694;
