// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/* woff2 -> Super Modern Browsers */
/* woff -> Modern Browsers */
/* otf -> Safari, Android, iOS */
@font-face {
	font-family: 'Metropolis-Regular';
	src: url('./fonts/Metropolis/woff2/Metropolis-Regular.woff2') format('woff2'),
		url('./fonts/Metropolis/woff/Metropolis-Regular.woff') format('woff'),
		url('./fonts/Metropolis/otf/Metropolis-Regular.otf') format('opentype');
}

*,
:after,
:before {
	box-sizing: border-box;
}

::selection {
	background: #0069ff;
	color: #fff;
}

body {
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'helvetica', 'arial', sans-serif;
	color: #676767;
	background: #ffffff;
}

a {
	text-decoration: none;
	color: #3b6ecc;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	transition: color 0.2s linear;

	&:hover,
	&:focus {
		color: #274d94;
	}
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

// a:active {
// 	color: green;
// }

// a:active {
// }
//
// a:focus {
// }
